body {
    /* Animates gradient colors */
    background: linear-gradient(45deg, #ffffff, #000000);
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
    transition: background 1s;

    /* Content alignment */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    scrollbar-color: #aaaaaa rgba(0, 0, 0, 0);
}


@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



main {
    /* Box alignment */
    height: 94%;
    width: 60%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;

    /* Box settings */
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
    overflow: hidden;


    }.panel-title {
        width: 100%;
        display: block;
        font-size: 4vmin;
        font-family: monospace, sans-serif;
        color: rgb(247, 247, 247);
        background-color: rgb(70, 69, 74);
        text-align:center;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
        margin: 0;
    
    
    }#tags-map {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-between;
    
    
    }.tag-button {
        font-family: monospace, sans-serif;
        padding-top: 1vh;
        padding-bottom: 1vh;
        cursor: pointer;
        width: 13vmin;
        font-size: 2vmin;
        border: 1px solid rgba(0,0,0,0.2);;
        background-color: rgb(151, 151, 151);
        transition: background-color 0.3s;
        display: table;
        user-select: none;
    }.tag-button:hover {
        background-color: lightblue;
        border: 1px solid rgba(0, 0, 0, 0);
        transition: background-color 0.3s;
    }


    #buttons-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vh;

        }#confirm {
            width: 100%;
            font-family: monospace, sans-serif;
            font-size: 2vmin;
            cursor: pointer;
            background-color: rgb(124, 148, 117);
            border: 1px solid rgba(0,0,0,0.2);
            transition: background-color 0.3s;
            user-select: none;
            border-radius: 5px;
            white-space: nowrap;
            overflow: hidden;
            justify-content: center;
        }
        #confirm:hover {
            background-color: rgb(0, 167, 42);
            border: 1px solid rgba(0, 0, 0, 0);
            transition: background-color 0.3s;
        }
        #switch-mode {
            width: 100%;
            font-family: monospace, sans-serif;
            font-size: 2vmin;
            cursor: pointer;
            background-color: rgb(148, 127, 117);
            border: 1px solid rgba(0,0,0,0.2);
            transition: background-color 0.3s;
            user-select: none;
            border-radius: 5px;
            white-space: nowrap;
            overflow: hidden;
        }
        #switch-mode:hover {
            background-color: rgb(218, 143, 30);
            border: 1px solid rgba(0, 0, 0, 0);
            transition: background-color 0.3s;
        }

    #inputs-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vh;
        }#origin-select {
            transition: background-color 1s;
            margin-bottom: 1vh;
            padding: 1vh;
            width: 100%;
            font-size: 2vmin;
            border-radius: 10px;
            color: white;
            background-color: rgb(70, 69, 74);
        }
        #persona-select {
            display: inline;
            transition: background-color 1s;
            margin-bottom: 1vh;
            padding: 1vh;
            width: 100%;
            font-size: 2vmin;
            border-radius: 10px;
            color: white;
            background-color: rgb(70, 69, 74);
    }

    #preview-target {
        color: rgb(247, 247, 247);
        font-size: 4vmin;
        width: 100%;
        height: auto;
}




aside {
    /* Box alignment */
    height: 94%;
    width: 35%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;

    /* Box settings */
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(53, 53, 53);
    border-radius: 5px;

    }
    .preview {
        opacity: 0.5;
        font-size: 100%;
        width: 90%;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }
    .preview:hover {
        transform: scale(1.05);
        transition: transform 0.2s;
        cursor: pointer;
        opacity: 1;
}




p {
    font-family: monospace, sans-serif;
    color: rgb(247, 247, 247);
    font-size: 2vmin;
    margin: 1vh;
    background-color: rgb(70, 69, 74);
    overflow: auto;
}
